.banner {
    height: 500px;
    &__image {
        width: 100%;
        height: 100%;
        background: no-repeat 70% / cover;
    }
    &__title {
        padding-top: 125px;
        max-width: 570px;
        font-family: 'Cormorant', serif;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        color: var(--dark-font);
    }
    &__subtitle {
        max-width: 570px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 26px;
        line-height: 39px;
        color: var(--dark-font);
    }
    &__btn {
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            width: 200px;
            height: 45px;
            background: var(--main-color);
            border-radius: 5px;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            line-height: 20px;
            font-weight: 400;
            color: var(--white);
            transition: background 0.3s; 
        }
        .button:hover {
            background: var(--main-hover-color);
        }
    }
}