.footer {
    min-height: 460px;
    &__nav {
        padding-top: 60px;
        display: flex;
        .nav-wrap {
            width: 100%;
            display: flex;
            justify-content: space-around;
            li {
                list-style: none;
                a {
                    color: #1F1F1F;
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 24px;
                    transition: 0.1s all;
                }
                a:hover {
                    color: var(--main-hover-color);
                }
            }
            .bold {
                padding-bottom: 10px;
                a {
                    color: #1F1F1F;
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 15px;
                }
            }
        }
    }
    &__logo {
        width: 110px;
        height: 95px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}